body{
  border: none;
  background-color: #faf4d7b3;
}

div{
  float: auto;
  width: 300px;
  border-radius: 15px;
  margin: auto;
}
#numbers{
  float: left;
  margin: auto;
  width: 50%;
}
#operators{
  margin: auto;
  float: right;
  width: 50%;
}
#equal{
  width: 90px;
}
input{
  margin: auto;
  width: 135px;
  height: 45px;
  background-color: rgba(227, 118, 35);
  color: #E0FFFF;
  font-family: Verdana;
  border-radius: 15px 5px 15px 5px;
  opacity: 0.7;
}
input:hover {
  background-color: #fd8e37;
  color: black;
}
button{
  width: 45px;
  height: 45px;
  background-color: rgba(227, 118, 35);
  color: #E0FFFF;
  font-family: Verdana;
  border-radius: 15px 5px 15px 5px;
  opacity: 0.7;
}

button:hover {
   background-color: #fd8e37;
   color: black;
}

#dis{
  text-align: center;
  float: center;
  margin-left: auto;
  margin-right: auto;
  
}

p{
  width: 600px;
  height: 40px;
  border-color: black;
  background-color: #ff9933;
  opacity: 0.75;
  color: black;
  font-family: Verdana;
  font-size: 30px;
  border-radius: 15px 5px 15px 5px;
  text-align: right;
  margin: 25px;
}

img{
  float: auto;
  margin: left;
  width: 100%;
}
