body {
  padding: 10px;
  margin: 10px;
  border: none;
}

img{
  display: block;
  margin: auto;
}

#izquierda {
  float: left;
  width: 45%;
  margin: 2px;
  font: bold 130% monospace;
  /*opacity: 0.5;*/
  /*filter: alpha(opacity=40);*/
  background: #eee;
}
#derecha {
  float: right;
  width: 45%;
  margin: 2px;
  font: bold 130% monospace;
  background: #eee;
}

p {
  margin: 8px;
  padding:15px; /*Relleno*/
  border: 1.5px solid #2EBDB1;
  border-radius: 25px;
}
