body {
  padding: 10px;
  margin: 10px;
  border: none;
  background-repeat: repeat;
  background-attachment: fixed;
}

#resume{
  float: left;
  width: 28%;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.8);
}

#boton{
  margin: 10px;
}

#bloques{
  float: right;
  width: 70%;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.8);
}

#izquierda {
  float: left;
  width: 47%;
  margin: 1px;
}

#derecha {
  float: right;
  width: 47%;
  margin: 1px;
}

#frases{
  float: right;
  width: 70%;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.8);
}

h3{
  font: bold 100% monospace;
}

p {
  background-color: rgba(0, 0, 0, 0.15);
  font: bold 100% monospace;
  margin: 8px;
  padding: 10px;
  border: 1.5px solid #2EBDB1;
  border-radius: 25px;
}
