body {
  padding: 10px;
  margin: 10px;
  border: none;
}
div{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  justify-content:center;
}
#imagesrc{
  width: 400px;
  height: 434px;
}
#imagesrc2{
  width: 400px;
  height: 434px;
}
canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
