body {
  padding: 10px;
  margin: 10px;
  border: none;
}

#deslizadores{
 display:flex;
 text-indent: 5em;
 justify-content: center;
 margin-left: auto;
 margin-right: auto;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
