body {
  padding: 10px;
  margin: 10px;
  border: none;
}
div{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  justify-content:center;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
